* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
.container {
    width: min(1000px, 90%);
    margin: 20px auto 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: yellowgreen;
}
.logo {
    font-size: 14px;
    letter-spacing: 1px;
    color: black;
    padding: 10px;
}
.nav-image {
    position: relative;
    width: 150px;
    height: 150px;
}
.nav-text {
    position: absolute;
    top: 12px;
    right: 7px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #000;
    z-index: 2;
}
.nav-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(60% at 70% 30%);
}
.main {
    padding-left: 70px;
    min-height: 50vh;
    background-color: yellowgreen;
}
.main h1 {
    font-size: clamp(40px, 10vw, 80px);
}
.main p {
    font-size: 12px;
    line-height: 1.2;
    margin-top: 20px;
}
.cta-btn {
    background: transparent; /*გამჭირვალე*/
    border: 1px solid #000;
    padding: 18px 30px;
    border-radius: 999px; /* ოვალური ფორმა */
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 30px;
}

.section {
    display: grid;
    grid-template-columns: 1fr 70px 1fr 0.5fr;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    min-height: 90vh;
    align-items: stretch;
}
.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.center {
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.center p {
    transform: rotate(-90deg);
    white-space: nowrap;
    font-size: 20px;
    word-spacing: 10px;
}
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px; /* სათაურსა და ტექსტს შორის */
    padding: 80px;
}
.right-side h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.1;
}

.right-side p {
    font-size: 12px;
    line-height: 1.6;
    max-width: 420px;
}

.spacer-image {
    padding: 80px;
    display: flex;
    align-items: flex-end; /* ქვემოთ */
    justify-content: flex-end; /* მარჯვნივ */
}
.spacer-image img {
    width: 140px;
    height: auto;
    display: block;
}
